A regression model going to be fit in this short project based on a data set of a complex cycle power plant (CCPP)

Importing the necessary packeages.

In [1]:
import os
import pandas as pd
import numpy as np

Data will be stored in pandas data frame. </br>
Because the data are stored in an excel table lets load the available datas by .read_excel() method.</br>

In [2]:
# Get the current working directory
cwd = os.getcwd()
print("Current working directory:", cwd)
pd_train = pd.read_excel(r'02_data/Train.xlsx')
pd_test = pd.read_excel(r'02_data/Test.xlsx')
print(pd_train.shape)
print(pd_test.shape)

Current working directory: c:\basic_projects\AI_kurzus\beadando\01_regression_model\01_main
(8568, 5)
(1000, 5)

Lets concentrate on the pd_train data and chek the by neked I a littel bit. </br>
We can wacth the first few lines of data by   .head() method.

In [3]:
pd_train.head()

      AT      V       AP      RH      PE
0  10.54  34.03  1018.71   74.00  478.77
1   7.08  39.99  1010.55   91.44  482.83
2  14.49  41.16  1000.50   82.17  465.24
3  10.73  25.36  1009.35  100.15  469.43
4  22.88  63.91  1009.63   87.82  442.50

In [4]:
pd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8568 entries, 0 to 8567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      8568 non-null   float64
 1   V       8568 non-null   float64
 2   AP      8568 non-null   float64
 3   RH      8568 non-null   float64
 4   PE      8568 non-null   float64
dtypes: float64(5)
memory usage: 334.8 KB

Empty rows

In [5]:
pd_train.empty

False